.experience_card_container{
    display: flex; 
    align-items: center;
    /* justify-content: space-between; */
   flex-wrap: wrap;
   
    
}
.experience_container{
    margin-top: 1px;
    /* display: flex; */
    
   
}
.experience_title{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color:rgb(146, 105, 184)
}